@model Restaurant.Models.Dish

@{
    ViewBag.Title = "Удаление блюда";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Удаление блюда</h2>

@if (ViewBag.Error == null)
{
<h3>Вы точно хотите удалить блюдо?</h3>
}
else
{
    <h3 class="text-danger">@ViewBag.Error</h3>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b class="control-label col-md-2"> Название </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <b class="control-label col-md-2"> Цена </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            <b class="control-label col-md-2"> Описание </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriprion)
        </dd>

        <dt>
            <b class="control-label col-md-2"> Изображение </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            <b class="control-label col-md-2"> Кухня </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishCategory.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.Error == null)
        {
            <input type="submit" value="Удалить" class="btn btn-danger" />
        }
        else
        {
            <input type="submit" value="Удалить" class="btn btn-danger" disabled="disabled" />

        }
        @Html.ActionLink("К списку блюд", "Dishes", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
