<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Кодзима</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="~/Content/logo.png" class="img-logo"/>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Кодзима", "List", "Order", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Касса ресторана", "List", "Order")</li>
                    <li class="dropdown" role="menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Панель администратора
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Заказы", "Orders", "Admin")</li>
                            <li>@Html.ActionLink("Блюда", "Dishes", "Admin")</li>
                            <li>@Html.ActionLink("Категории", "Categories", "Admin")</li>
                            <li>@Html.ActionLink("Столики", "Tables", "Admin")</li>
                            <li>@Html.ActionLink("Резервации", "Shedules", "Admin")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div style="clear:both;">
                <br />
                <hr />
                <p>
                    &copy; @DateTime.Now.Year – Ресторан "Кодзима"
                </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/order.js"></script>
</body>
</html>
